body {
    background-image: url("../img/clinica-meirelles-background-1.jpg");
}

.obrigatorio:after {
    content: "*";
    margin-left: 4px;
    color: #0f0943;
}

.modal {
    color: black;
}

.table {
    background-color: rgba(47, 67, 255, 0.17);
}

.even {
    background-color: rgb(26, 83, 117) !important;
}

.table .thead-light th{
    background-color: rgba(255, 255, 255, 0.81) !important;
    color: #2b0628;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(23, 74, 104);
}
.dataTables {
    color: #d4dde8;
}

.page-link {
    font-size: 11px;
}

.paginate_button {
    padding: 0px!important;
}

.dataTables_length > label > select {
    width: 60px;
}